body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezado */
.header {
  background-color: rgb(60, 89, 111);
  padding: 5px;
  text-align: center;
}

.header p {
  font-size: 18px;
  font-weight: bold;
  color: #faf5f5;
  margin: 0;
  margin-left: 80px;
  padding: 30px;
}

/* Cuerpo */
.body {
  background-image: url(https://media.a24.com/p/54293f5307d2bae0d47c21b40ca7a1d4/adjuntos/296/imagenes/009/092/0009092018/1200x675/smart/messi-copajpg.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.text {
  text-align: center;
  font-family: cursive;
  font-size: 54px;
  margin-top: 200px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: -100px;
}

/* Formulario de ingreso */
.cont-input {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.input-usuario,
.contrase単a {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.input-usuario:focus,
.contrase単a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#btn-acceder {
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

#btn-acceder:hover {
  background-color: #ff6347;
}

/* Enlace adicional */
.link {
  text-align: right;
  margin-top: 20px;
  margin-left: 200px;
}

.link a {
  color: #ffffff;
  text-decoration: underline;
  margin-left: 280px;
}

.link a:hover {
  color: #ff7f50;
}

/* Custom Styles */
.cont-header {
  margin-left: auto;
  margin-right: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(60, 89, 111);
  display: flex;
  opacity: 0.7;
  justify-content: center; /* Centro el contenido horizontalmente */
}

.header {
  border: solid 3;
}

.avisoError {
  color: red;
  display: none;
}
.logo {
  width: 100px;
  height: 100px;
  margin-right: 200px;
  padding: 0;
}
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  /* Encabezado */
  .header {
    background-color: rgb(60, 89, 111);
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
  }

  .header p {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 20px;
    margin-left: -100px;
    max-width: 500px;
  }
  */

  /* Cuerpo */
  .body {
    background-image: url(https://media.a24.com/p/54293f5307d2bae0d47c21b40ca7a1d4/adjuntos/296/imagenes/009/092/0009092018/1200x675/smart/messi-copajpg.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  /* .text {
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    margin-top: 200px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    display: flex;
  } */
  /* Formulario de ingreso */
  .cont-input {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
  }

  .label {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }

  .input-usuario,
  .contrase単a {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .input-usuario:focus,
  .contrase単a:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  #btn-acceder {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }

  #btn-acceder:hover {
    background-color: #ff6347;
  }

  /* Enlace adicional */
  .link {
    text-align: right;
    margin-top: 60px;
    font-size: 15px;
    width: 120px;
    margin-left: -300px;
  }

  /* Custom Styles */
  .cont-header {
    margin-left: auto;
    margin-right: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: rgb(60, 89, 111);
    display: flex;
    opacity: 0.7;
    justify-content: space-around;
  }

  .avisoError {
    color: red;
    display: none;
  }
  .logo {
    width: 90px;
    height: 78px;
    padding: 0;
    margin-right: 400px;
    position: absolute;
  }
}
